@import url("menu.css");
h2 {
  font-size: 1.5em;
  padding-top: 20px;
  padding-left: 20px;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  position: relative;
}

.loading {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 1.5em;
  color: #9356DC;
  text-align: center;
  z-index: -1;
  opacity: 0;
  -webkit-animation: loading 2s;
          animation: loading 2s;
}

@-webkit-keyframes loading {
  0% {
    opacity: 1;
    z-index: 10;
  }
  100% {
    opacity: 1;
    z-index: 10;
  }
}

@keyframes loading {
  0% {
    opacity: 1;
    z-index: 10;
  }
  100% {
    opacity: 1;
    z-index: 10;
  }
}

.loader {
  width: 100px;
  height: 100px;
  position: relative;
}

.spinner {
  background: radial-gradient(circle at top, rgba(255, 255, 255, 0.9) 0%, rgba(255, 121, 218, 0.8) 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 100px;
  height: 100%;
}

.spinner__loader {
  border-radius: 100px;
  border: 12px solid rgba(147, 86, 220, 0.4);
}

.spinner__loader::after {
  content: '';
  position: absolute;
  top: -12px;
  left: -12px;
  right: -12px;
  bottom: -12px;
  border: 12px solid transparent;
  background-clip: border-box;
  border-top-color: #9356DC;
  border-radius: 100px;
  -webkit-animation: spin 1s 0s 2;
          animation: spin 1s 0s 2;
}

.spinner__text {
  width: 80%;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@media (max-width: 599px) {
  .header {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 10px;
    height: 60px;
    width: 100%;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
  }
  .header__logo {
    height: 30px;
    width: auto;
  }
  .header__return {
    position: absolute;
    left: 20px;
    text-decoration: none;
  }
  .header__return span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 30px;
    width: 30px;
    font-size: 1.4em;
    color: #404040;
  }
}

.location__form .location__form__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 45px;
  height: 45px;
  color: #404040;
}

.location__form__text {
  color: #404040;
}

@media (max-width: 599px) {
  .location {
    margin-top: 5px;
    background-color: #ededed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 50px;
    width: 100%;
    color: black;
  }
  .location__form {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .location__form .location__form__icon {
    position: absolute;
    left: -50px;
    font-size: 1.1em;
  }
  .location__form__text {
    font-size: 1.0em;
    font-weight: bold;
  }
}

.description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f7f7f7;
}

@media (max-width: 599px) {
  .description {
    padding: 40px;
  }
  .description__title {
    margin: 0;
    padding: 0 20px;
    font-size: 1.6em;
    text-align: center;
  }
  .description__subtitle {
    text-align: center;
    font-weight: 200;
  }
}

.main-button {
  position: relative;
  color: #ffffff;
  text-decoration: none;
  font-size: 1.0em;
  font-weight: 500;
  background: linear-gradient(175deg, #ff79da 0%, #9356DC 100%);
  border-radius: 45px;
  border: none;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
  width: 230px;
  height: 50px;
  line-height: 50px;
  margin-top: 10px;
  text-align: center;
  vertical-align: middle;
  z-index: 1;
}

.main-button:hover::after {
  opacity: 1;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4);
}

.main-button::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 45px;
  background: linear-gradient(175deg, #ff93e1 0%, #a16be0 100%);
  opacity: 0;
  z-index: -1;
  -webkit-transition: opacity 250ms;
  transition: opacity 250ms;
}

.operation {
  margin-top: 40px;
}

.operation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
}

.operation__list__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 25px;
  background-color: #f7f7f7;
  margin: 10px 20px 10px 35px;
  height: 80px;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
}

.operation__list__card p {
  border-radius: 45px;
  background-color: #9356DC;
  color: #ffffff;
  height: 25px;
  line-height: 25px;
  width: 25px;
  text-align: center;
  vertical-align: middle;
  font-size: 1.1em;
  font-weight: 400;
  position: absolute;
  left: 20px;
}

.operation__list__card span {
  text-align: center;
  width: 70px;
  margin-left: 10px;
  font-size: 1.4em;
  color: gray;
}

.operation__list__card h3 {
  font-size: 1.1em;
  font-weight: 550;
}

.operation__list__card:hover {
  background-color: #f2eafb;
}

.operation__list__card:hover span {
  color: #9356DC;
}

@media (max-width: 599px) {
  .operation__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.restaurants {
  margin-top: 60px;
  padding-top: 20px;
  background-color: whitesmoke;
}

.restaurants__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

@media (max-width: 599px) {
  .restaurants__list {
    padding: 0 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .restaurants__list__card {
    position: relative;
    width: 100%;
    height: 260px;
    border-radius: 15px;
    margin-bottom: 20px;
    background-color: #ffffff;
    -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  }
  .restaurants__list__card img {
    width: 100%;
    height: 180px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 15px 15px 0 0;
  }
  .restaurants__list__card a {
    text-decoration: none;
  }
  .restaurants__list__card__description {
    padding: 10px;
  }
  .restaurants__list__card__description h4 {
    margin: 0;
    padding-bottom: 5px;
    font-size: 1.1em;
    font-weight: 700;
    color: #000000;
  }
  .restaurants__list__card__description h5 {
    margin: 0;
    padding-bottom: 5px;
    font-size: 1.1em;
    font-weight: 400;
    color: #000000;
  }
  .restaurants__list__card p {
    margin: 0;
    position: absolute;
    right: 10px;
    top: 10px;
    height: 30px;
    width: 75px;
    font-size: .9em;
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    background-color: #99e2d0;
    color: #2c9c81;
    border-radius: 2px;
  }
}

.heart {
  position: absolute;
  height: 30px;
  width: 30px;
  color: #000000;
  font-size: 1.5em;
  z-index: 1;
  cursor: pointer;
}

.heart--card {
  right: 20px;
  bottom: 25px;
}

.heart:hover {
  background: -webkit-linear-gradient(90deg, #ff79da 0%, #9356DC 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heart:hover .heart__bg {
  opacity: 1;
}

.heart__bg {
  position: absolute;
  background: -webkit-linear-gradient(90deg, #ff79da 0%, #9356DC 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.0em;
  opacity: 0;
  z-index: -1;
  -webkit-transition: opacity 250ms;
  transition: opacity 250ms;
  left: 0px;
  top: 0px;
}

.footer {
  background-color: #404040;
  padding-left: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
}

.footer__list {
  list-style: none;
  margin: 0;
}

.footer__list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__list__item span {
  color: #ffffff;
  width: 25px;
  font-size: 0.8em;
}

.footer__list__link {
  text-decoration: none;
}

.footer__list__link h4 {
  margin: 0;
  font-size: 1.0em;
  font-weight: 400;
  color: #ffffff;
}

.footer__list__link:hover {
  -webkit-text-decoration: underline #ffffff;
          text-decoration: underline #ffffff;
}

.footer__list li {
  margin: 10px 0;
}

@media (max-width: 599px) {
  .footer__logo {
    height: 18px;
    -webkit-filter: invert(1);
            filter: invert(1);
    margin-top: 30px;
  }
  .footer__list {
    padding: 10px 0;
  }
}
/*# sourceMappingURL=style.css.map */