@import url("menu.css");

$primary-color: #9356DC;
$secondary-color:#ff79da;
$tertiary-color:#99e2d0;

h2{
    font-size: 1.5em;
    padding-top: 20px;
    padding-left: 20px;
}

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    position: relative;
}

.loading{
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 1.5em;
    color: $primary-color;
    text-align: center;
    z-index: -1;
    opacity: 0;
    animation: loading 2s;
}

@keyframes loading{
    0%{
        opacity: 1;
        z-index: 10;
    }
    100%{
        opacity: 1;
        z-index: 10;
    }
}

.loader{
    width: 100px;
    height: 100px;
    position: relative;
}

.spinner{
    background: radial-gradient(circle at top , rgba(#ffffff,0.9) 0%, rgba($secondary-color,0.8) 100%) ;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    height: 100%;
    &__loader{
        border-radius: 100px;
        border: 12px solid rgba($primary-color,0.4);
        &::after{
            content: '';
            position: absolute;
            top: -12px;
            left: -12px;
            right: -12px;
            bottom: -12px;
            border: 12px solid transparent;
            background-clip: border-box;
            border-top-color: $primary-color;
            border-radius: 100px;
            animation: spin 1s 0s 2;
            
        }
    } 
    &__text{
        width: 80%;
    }
}

@keyframes spin{
    0%{
        transform: rotate(0deg);

    }
    100%{
        transform: rotate(360deg);
    }
}


.header{
    @media (max-width: 599px)
    {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 10px;
        height: 60px;
        width: 100%;
        box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
        &__logo{
            height: 30px;
            width: auto;    
        }
        &__return{
            position: absolute;
            left: 20px;
            text-decoration: none;
            span{
                display: flex;
                align-items: center;
                justify-content: center;
                height: 30px;
                width: 30px;
                font-size: 1.4em;
                color: lighten($color: #000000, $amount: 25);
            }
        }
        
    }    
}

.location{
    &__form{
        .location__form__icon{        
            display: flex;
            justify-content: center;
            align-items: center;
            width: 45px;
            height: 45px;       
            color: lighten($color: #000000, $amount: 25);
        }
        &__text{    
            color: lighten($color: #000000, $amount: 25);
        }
    }   
    @media (max-width: 599px)
    {
        margin-top: 5px;
        background-color: darken($color: #ffffff, $amount: 7);
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        width: 100%;
        color: black;
        &__form{
            position: relative;
            display: flex;
            align-items: center;
            .location__form__icon{
                position: absolute;
                left: -50px;
                font-size: 1.1em;
            }
            &__text{
                font-size: 1.0em;
                font-weight: bold;
            }
        }         
    }   
}

.description{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: darken($color: #ffffff, $amount: 3);
    @media (max-width: 599px) {
        padding: 40px;
        &__title{
            margin: 0;
            padding: 0 20px;
            font-size: 1.6em;
            text-align: center;
        }
        &__subtitle{
            text-align: center;
            font-weight: 200;
        }
        
    }  
}

.main-button{  
    position: relative;          
    color: #ffffff;
    text-decoration: none;
    font-size: 1.0em;
    font-weight: 500;
    background: linear-gradient(175deg, $secondary-color 0%, $primary-color 100%);
    border-radius: 45px;
    border: none;
    box-shadow: 0 5px 10px 0 rgba($color: #000000, $alpha: 0.3);
    width: 230px;
    height: 50px;
    line-height: 50px;
    margin-top: 10px;  
    text-align: center; 
    vertical-align: middle; 
    z-index: 1;
    &:hover{
        &::after{
            opacity: 1;    
            box-shadow: 0 5px 10px 0 rgba($color: #000000, $alpha: 0.4);                              
        }                         
    }   
    &::after{
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: 45px;
        background: linear-gradient(175deg, lighten($secondary-color,5) 0%, lighten($primary-color,5) 100%);
        opacity: 0;
        z-index: -1;
        transition: opacity 250ms;
    }   
}      

.operation{
    margin-top: 40px;
    &__list{
        display: flex;    
        list-style: none;
        padding: 0;
        &__card{
            display: flex;
            align-items: center;
            border-radius: 25px;
            background-color: darken($color: #ffffff, $amount: 3);
            margin: 10px 20px 10px 35px;
            height: 80px;
            box-shadow: 0 5px 10px 0 rgba($color: #000000, $alpha: 0.2);
            p{
                border-radius: 45px;
                background-color: $primary-color;
                color: #ffffff;
                height: 25px;
                line-height: 25px;
                width: 25px;
                text-align: center;
                vertical-align: middle;
                font-size: 1.1em;
                font-weight: 400;
                position: absolute;
                left: 20px;
            }
            span{
                text-align: center;
                width: 70px;
                margin-left: 10px;
                font-size: 1.4em;
                color: lighten($color: #000000, $amount: 50);
            }
            h3{
                font-size: 1.1em;
                font-weight: 550;
            }
            &:hover{
                background-color: lighten($color: $primary-color, $amount: 35);
                & span{
                    color: $primary-color;
                }
            }
        }
    }
    @media (max-width: 599px) {
        &__list{
            flex-direction: column;
        }
    }
    
}

.restaurants{
    margin-top: 60px;
    padding-top: 20px;
    background-color: darken($color: #ffffff, $amount: 4);
    &__list{
        display: flex;
        list-style: none;
    }
    @media (max-width: 599px){
        &__list{
            padding: 0 20px;
            flex-direction: column;
            &__card{
                position: relative;
                width: 100%;
                height: 260px;
                border-radius: 15px;
                margin-bottom: 20px;
                background-color: #ffffff;
                box-shadow: 0 5px 10px 0 rgba($color: #000000, $alpha: 0.2);
                img{
                    width: 100%;
                    height: 180px;
                    object-fit: cover;
                    border-radius: 15px 15px 0 0;
                }
                a{
                    text-decoration: none;
                }
                &__description{
                    padding: 10px;
                    h4{
                        margin: 0;
                        padding-bottom: 5px;
                        font-size: 1.1em;
                        font-weight: 700;
                        color: #000000;
                    }
                    h5{
                        margin: 0;
                        padding-bottom: 5px;
                        font-size: 1.1em;
                        font-weight: 400;
                        color: #000000;
                    }
                }
                p{
                    margin: 0;
                    position: absolute;
                    right: 10px;
                    top: 10px;
                    height: 30px;
                    width: 75px;
                    font-size: .9em;
                    font-weight: 600;
                    text-align: center;
                    vertical-align: middle;
                    line-height: 30px;
                    background-color: $tertiary-color;
                    color: darken($color: $tertiary-color, $amount: 35);
                    border-radius: 2px;
                }

            }
        }
    }
}

.heart{
    position: absolute; 
    height: 30px;
    width: 30px;
    color: #000000;
    font-size: 1.5em;
    z-index: 1;
    cursor: pointer;
    &--card{
        right: 20px;
        bottom: 25px;
    }
    &:hover{
        & .heart__bg{
            opacity: 1;
        }   
        background: -webkit-linear-gradient(90deg, $secondary-color 0%, $primary-color 100%) ;
        -webkit-background-clip:text;
        background-clip:text;
        -webkit-text-fill-color:transparent;                       
    }
    &__bg{
        position: absolute;
        background: -webkit-linear-gradient(90deg, $secondary-color 0%, $primary-color 100%) ;
        -webkit-background-clip:text;
        background-clip:text;
        -webkit-text-fill-color:transparent;
        font-size: 1.0em;
        opacity: 0;
        z-index: -1;
        transition: opacity 250ms;
        left: 0px;
        top: 0px;
    }
}




.footer{
    background-color: lighten($color: #000000, $amount: 25);
    padding-left: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    &__list{
        list-style: none;
        margin: 0;
        &__item{
            display: flex;
            align-items: center;
            span{   
                color: #ffffff;
                width: 25px;
                font-size: 0.8em;
            }
        }
        
        &__link{
            text-decoration: none;
            
            h4{
                margin: 0;
                font-size: 1.0em;
                font-weight: 400;
                color: #ffffff;
            }
            &:hover{
                text-decoration: underline #ffffff;
                
            }
        }
        li{
            margin: 10px 0 ;
        }
    }
    @media (max-width: 599px) {
        &__logo{
            height: 18px;
            filter:invert(1);
            margin-top: 30px;
        }
        &__list{           
            padding: 10px 0;         
        }
    }
}
