@import url("menu.css");

$primary-color: #9356DC;
$secondary-color:#ff79da;
$tertiary-color:#99e2d0;

h2{
    font-size: 1.5em;
    padding-top: 20px;
    padding-left: 20px;
}

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    position: relative;
}

.loading{
    background: radial-gradient(circle at top , rgba(#ffffff,0.95) 0%, rgba($secondary-color,0.95) 100%) ;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 1.5em;
    color: $primary-color;
    text-align: center;
    z-index: -1;
    opacity: 0;
    animation: loading 2s;
}

@keyframes loading{
    0%{
        opacity: 1;
        z-index: 10;
    }
    100%{
        opacity: 1;
        z-index: 10;
    }
}

.loader{
    width: 100px;
    height: 100px;
    position: relative;
}

.spinner{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 300px;
    &__loader{
        border-radius: 100px;
        border: 12px solid rgba($primary-color,0.4);
        &::after{
            content: '';
            position: absolute;
            top: -12px;
            left: -12px;
            right: -12px;
            bottom: -12px;
            border: 12px solid transparent;
            background-clip: border-box;
            border-top-color: $primary-color;
            border-radius: 100px;
            animation: spin 1s 0s 2;
            
        }
    } 
    &__text{
        width: 80%;
    }
}

@keyframes spin{
    0%{
        transform: rotate(0deg);

    }
    100%{
        transform: rotate(360deg);
    }
}


.header{
    position: relative;       
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
    &__return{
        position: absolute;
        text-decoration: none;
        span{
            display: flex;
            align-items: center;
            justify-content: center;
            color: lighten($color: #000000, $amount: 25);
        }
    }
    @media (max-width: 599px){      
        &__logo{
            height: 30px; 
        }
        &__return{
            left: 20px;
            span{
                height: 30px;
                width: 30px;
                font-size: 1.4em;
            }
        }       
    }   
    @media (min-width: 600px) and (max-width: 1023px){      
        &__logo{
            height: 40px; 
        }
        &__return{
            left: 20px;
            span{
                height: 50px;
                width: 50px;
                font-size: 1.6em;
            }
        }       
    }  
    @media (min-width:1024px){
        justify-content: flex-start;
        &__logo{
            margin-left: 30px;
            height: 40px; 
        }
        &__return{
            right: 20px;
            span{
                height: 30px;
                width: 30px;
                font-size: 1.4em;
            }
        }
    }
}

.location{
    margin-top: 5px;
    background-color: darken($color: #ffffff, $amount: 7);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100%;
    color: black;
    &__form{
        position: relative;
        display: flex;
        align-items: center;
        .location__form__icon{  
            position: absolute;
            left: -50px;      
            display: flex;
            justify-content: center;
            align-items: center;     
            color: lighten($color: #000000, $amount: 25);
        }
        &__text{    
            color: lighten($color: #000000, $amount: 25);
            font-weight: bold;
        }
    }   
    @media (max-width: 599px)
    {
        &__form{      
            &__icon{ 
                font-size: 1.1em;
                width: 45px;
                height: 45px;
            }
            &__text{
                font-size: 1.0em;              
            }
        }         
    }  
    @media (min-width: 600px) and (max-width: 1023px)
    {
        &__form{      
            &__icon{ 
                font-size: 1.2em;
                width: 50px;
                height: 50px;
            }
            &__text{
                font-size: 1.1em;              
            }
        }         
    }  
    @media (min-width:1024px){
        position: absolute;
        right: 0;
        top: 0;
        width: auto;
        margin-top: 15px;
        margin-right: 15px;
        background-color: #ffffff;
        &__form{      
            &__icon{ 
                font-size: 1.2em;
                width: 50px;
                height: 50px;
            }
            &__text{
                font-size: 1.1em;              
            }
        }
    }
}

.description{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: darken($color: #ffffff, $amount: 3);
    padding: 40px;
        &__title{
            margin: 0;
            text-align: center;
        }
        &__subtitle{
            text-align: center;
            font-weight: 200;
        }
    @media (max-width: 599px) {
        &__title{
            padding: 0 20px;
            font-size: 1.6em;
        }        
    }  
    @media (min-width: 600px) and (max-width: 1023px)
    {
        &__title{
            font-size: 1.7em;
        }  
        &__subtitle{
            font-size: 1.3em;
        }    
    }
    @media (min-width:1024px){
        &__title{
            font-size: 1.7em;
        }  
        &__subtitle{
            font-size: 1.3em;
        } 
    }
}

.main-button{  
    position: relative;          
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    background: linear-gradient(175deg, $secondary-color 0%, $primary-color 100%);
    border-radius: 45px;
    border: none;
    box-shadow: 0 5px 10px 0 rgba($color: #000000, $alpha: 0.3);
    margin-top: 10px;  
    text-align: center; 
    vertical-align: middle; 
    z-index: 1;
    transition: box-shadow 500ms;
    &:hover{
        box-shadow: 0 5px 10px 0 rgba($color: #000000, $alpha: 0.5); 
        &::after{
            opacity: 1;                                         
        }                         
    }   
    &::after{
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: 45px;
        background: linear-gradient(175deg, lighten($secondary-color,5) 0%, lighten($primary-color,5) 100%);
        opacity: 0;
        z-index: -1;
        transition: opacity 250ms;
    }  
    @media (max-width: 599px) {
        width: 230px;
        height: 50px;
        line-height: 50px;  
        font-size: 1.0em;  
    }  
    @media (min-width: 600px) and (max-width: 1023px)
    {
        width: 250px;
        height: 60px;
        line-height: 60px;  
        font-size: 1.1em; 
    }
    @media (min-width:1024px){
        width: 250px;
        height: 60px;
        line-height: 60px;  
        font-size: 1.1em; 
    } 
}      

.operation{
    margin-top: 40px;
    &__list{
        display: flex;    
        flex-direction: column;
        list-style: none;
        padding: 0;
        
        &__card{
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-radius: 25px;
            background-color: darken($color: #ffffff, $amount: 3);
            margin: 10px 20px 10px 35px;
            height: 80px;
            box-shadow: 0 5px 10px 0 rgba($color: #000000, $alpha: 0.2);
            p{
                border-radius: 45px;
                background-color: $primary-color;
                color: #ffffff;
                height: 25px;
                line-height: 25px;
                width: 25px;
                text-align: center;
                vertical-align: middle;
                font-size: 1.1em;
                font-weight: 400;
                position: absolute;
                left: -15px;
            }
            span{
                text-align: center;
                width: 20%;
                margin-left: 2%;
                font-size: 1.4em;
                color: lighten($color: #000000, $amount: 50);
            }
            h3{
                font-size: 1.1em;
                font-weight: 500;
                padding-left: 2%;
                padding-right: 2%;             
                width: 80%;
            }
            &:hover{
                background-color: lighten($color: $primary-color, $amount: 35);
                & span{
                    color: $primary-color;
                }
            }
        }
    }
    @media (min-width: 600px) and (max-width: 1023px) {
        &__list{
            width: 100%;
            align-items: center;
            &__card{
                width: 400px;
                span{
                    width: 35%;
                };
            }
        }
        h2{
            text-align: center;
            padding-left: 0;
        }
    }

    @media (min-width: 1024px) 
    {
        padding: 0 5%;
        margin-top: 0;
        &__list{
            flex-direction: row;
            margin: 40px 0px 40px 0px;
            justify-content: space-between;
            &__card{
                margin: 0;
                width: 30%;
                max-width: 350px;
                span{
                    width: 20%;
                }
            }
        }
        h2{
            padding-left: 0;
        } 
    }
    
}

.restaurants{
    margin: 60px 0;
    padding-top: 20px;
    background-color: darken($color: #ffffff, $amount: 4);
    &__list{
        display: flex;
        flex-direction: column;
        list-style: none;
        padding: 0 20px;
        &__card{
            position: relative;
            width: 100%;
            height: 260px;
            border-radius: 15px;
            margin-bottom: 20px;
            background-color: #ffffff;
            box-shadow: 0 5px 10px 0 rgba($color: #000000, $alpha: 0.2);
            transition: transform 250ms ease;
            &:hover{
                transform: scale(1.01);
            }
            img{
                width: 100%;
                height: 180px;
                object-fit: cover;
                border-radius: 15px 15px 0 0;
            }
            a{
                text-decoration: none;
            }
            &__description{
                padding: 10px;
                h4{
                    margin: 0;
                    padding-bottom: 5px;
                    font-size: 1.1em;
                    font-weight: 700;
                    color: #000000;
                }
                h5{
                    margin: 0;
                    padding-bottom: 5px;
                    font-size: 1.1em;
                    font-weight: 400;
                    color: #000000;
                }
            }
            p{
                margin: 0;
                position: absolute;
                right: 10px;
                top: 10px;
                height: 30px;
                width: 75px;
                font-size: .9em;
                font-weight: 600;
                text-align: center;
                vertical-align: middle;
                line-height: 30px;
                background-color: $tertiary-color;
                color: darken($color: $tertiary-color, $amount: 35);
                border-radius: 2px;
            }

        }
    }
    @media (min-width: 600px) and (max-width: 1023px) {
        padding-left: 10%;
        padding-right: 10%;
        h2{
            text-align: center;
            padding: 0 0 10px 0;
        }
    }

    @media (min-width: 1024px) 
    {
        padding: 0 5%;
        h2{
            padding: 40px 0;
        }
        &__list{
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 0;
            &__card{
                width: 48%;
                margin-bottom: 4%;
            }
        } 
    }
}

.heart{
    position: absolute;    
    color: #000000;
    z-index: 1;
    cursor: pointer;
    &--card{
        right: 20px;
        bottom: 25px;
    }
    &:hover{
        & .heart__bg{
            opacity: 1;
        }   
        background: -webkit-linear-gradient(90deg, $secondary-color 0%, $primary-color 100%) ;
        -webkit-background-clip:text;
        //background-clip:text;
        -webkit-text-fill-color:transparent;                
    }
    &__bg{
        position: absolute;
        background: -webkit-linear-gradient(90deg, $secondary-color 0%, $primary-color 100%) ;
        -webkit-background-clip:text;
        //background-clip:text;
        -webkit-text-fill-color:transparent;
        font-size: 1.0em;
        opacity: 0;
        z-index: -1;
        transition: opacity 250ms ease;
        left: 0px;
        top: 0px;
    }
    @media (max-width: 759px){
        height: 30px;
        width: 30px;
        font-size: 1.5em;
    }
    @media (min-width: 760px) and (max-width: 1023px)
    {
        height: 30px;
        width: 30px;
        font-size: 1.7em;
    }
    @media (min-width: 1024px){
        height: 30px;
        width: 30px;
        font-size: 1.5em;
    }
}

.footer{
    background-color: lighten($color: #000000, $amount: 25);
    padding-left: 20px;
    padding-bottom: 20px;
    &__logo{
        filter:invert(1);
    }
    &__list{
        list-style: none;
        margin: 0;
        &__item{
            display: flex;
            align-items: center;
            span{   
                color: #ffffff;
                width: 25px;
                font-size: 0.8em;
            }
        }
        
        &__link{
            text-decoration: none;
            
            h4{
                margin: 0;
                font-size: 1.0em;
                font-weight: 400;
                color: #ffffff;
            }
            &:hover{
                text-decoration: underline #ffffff;
                
            }
        }
        li{
            margin: 10px 0 ;
        }
    }
    @media (max-width: 599px) {
        &__logo{
            height: 18px;
            margin-top: 30px;
        }
        &__list{           
            padding: 10px 0;         
        }
    }
    @media (min-width: 600px) and (max-width: 1023px)
    {
        &__logo{
            height: 25px;
            margin-top: 30px;
        }
        &__list{  
            padding: 10px 0;         
        }
    }
    @media (min-width: 1024px){
        display: flex;
        flex-direction: column;
        align-items: center;
        &__logo{
            height: 25px;
            margin-top: 30px;
        }
        &__list{  
            padding: 10px 0;
            display: flex;         
            flex-direction: column;
            align-items: center;         
        }
    }
}
